################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImgArena.Api/obj
/.vs/ImgArena/v16
/ImgArena.Api/bin/Debug/netcoreapp3.1
/ImgArena.DataStorage/obj
/ImgArena.Repositories/obj
/ImgArena.Repositories.Tests/obj
/ImgArena.Services/obj
/ImgArena.Services.Tests/obj
/ImgArena.Api.Tests/obj
