################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImgArena.Api/obj
/.vs/ImgArena/v16
